:root {
  --color-bg-dark-over: #121F37;
  --color-bg-dark-base: #000C21;
  --color-bg-dark-under: #000000;
  --color-bg-light-over: #FFFFFF;
  --color-bg-light-base: #FAFBFC;
  --color-bg-light-under: #F4F4F4;

  --color-on-dark-primary: #FFFFFF;
  --color-on-dark-secondary: #FFFFFFB3;
  --color-on-dark-tertiary: #FFFFFF80;
  --color-on-dark-quaternary: #FFFFFF4D;
  --color-on-dark-stroke: #FFFFFF26;

  --color-on-light-primary: #1F242F;
  --color-on-light-secondary: #1F242FB3;
  --color-on-light-tertiary: #1F242E80;
  --color-on-light-quaternary: #1F242E4D;
  --color-on-light-stroke: #1F242E26;

  --color-success-dim: #ECF8ED;
  --color-success-dim-hover: #C5EAC6;
  --color-success-dim-press: #A9DFAA;
  --color-success-strong: #44BA46;
  --color-success-strong-hover: #3EA940;
  --color-success-strong-press: #3EA940;

  --color-warning-dim: #FFF5E6;
  --color-warning-dim-hover: #FEF0D9;
  --color-warning-dim-press: #FDE1B0;
  --color-warning-normal: #FA9E00;
  --color-warning-normal-hover: #E18E00;
  --color-warning-normal-press: #C87E00;

  --color-danger-light: #FDE8E9;
  --color-danger-hover: #FCDDDE;
  --color-danger-active: #F9B9BB;
  --color-danger-normal: #ED1C24;
  --color-danger-normal-hover: #D51920;
  --color-danger-normal-active: #BE161D;

  --color-info-dim: #EDF4FE;
  --color-info-dim-hover: #E4EEFE;
  --color-info-dim-active: #C8DCFD;
  --color-info-normal: #4D8FF9;
  --color-info-normal-hover: #4581E0;
  --color-info-normal-press: #3E72C7;

  --color-green-50: #ECF8ED;
  --color-green-100: #C5EAC6;
  --color-green-200: #A9DFAA;
  --color-green-300: #82D183;
  --color-green-400: #69C86B;
  --color-green-500: #44BA46;
  --color-green-600: #3EA940;
  --color-green-700: #008242;
  --color-green-800: #005C2F;
  --color-green-900: #00371C;

  --color-orange-50: #FEF0E9;
  --color-orange-100: #FBD0BB;
  --color-orange-200: #F9B99A;
  --color-orange-300: #F6986C;
  --color-orange-400: #F4854F;
  --color-orange-500: #F16623;
  --color-orange-600: #DB5D20;
  --color-orange-700: #AB4819;
  --color-orange-800: #853813;
  --color-orange-900: #652B0F;

  --color-grey-50: #F9FAFB;
  --color-grey-100: #F2F4F7;
  --color-grey-200: #E7ECF4;
  --color-grey-300: #D8DEE8;
  --color-grey-400: #B9C3D5;
  --color-grey-500: #A2ADC4;
  --color-grey-600: #8394AD;
  --color-grey-700: #566580;
  --color-grey-800: #3E485C;
  --color-grey-900: #1F242F;

  --color-blue-50: #EBF9FF;
  --color-blue-100: #C1EDFF;
  --color-blue-200: #A3E4FF;
  --color-blue-300: #7AD7FF;
  --color-blue-400: #60D0FF;
  --color-blue-500: #38C4FF;
  --color-blue-600: #33B2E8;
  --color-blue-700: #288BB5;
  --color-blue-800: #1F6C8C;
  --color-blue-900: #18526B;
}
